 @font-face {
   font-family: Victor;
   src: url(VictorMono-Regular.ttf);
 }

 main.container {
   padding: 0
 }

 body {
   margin: 0;
   font-family: Victor;
 }

 .xcontainer {
   position: relative;
   height: 100%;
   width: 100%;
   padding: 0;
 }

 .front,
 .back {
   position: absolute;
   width: 100%;
   height: inherit;
   display: grid;
   grid-template-rows: 60% 40%;
   /*background: black*/
 }


 iframe {
   background: #778;
   border: none;
   width: 100%;
   height: 100%;
   user-select: none;
 }

 .banner {
   font-family: Victor;
   font-size: 14px;
   display: inline;
   background: var(--ace-editor-bg);
   //background-color: transparent;
   color: black;
   z-index: 50;
   position: absolute;
   right: 0;
   bottom: 40%;
   color: white;
   //line-height: 1;

 }

 .banner * {
   box-sizing: border-box;
   user-select: none;
 }

 .instructions {
   display: inline;
   word-wrap: break-word;
   white-space: pre-wrap;
   font-family: inherit;
   margin-right: 5px;
   background-color: var(--primary-color);
   color: black;
 }

  [language="html"] {
    --primary-color: #E44D26;
    --banner-bg: #E44D26;
    --ace-editor-bg: #f004;
    --highlight-color: aqua;
  }
 [language="css"] {
   --primary-color: #1572B6;
   --banner-bg: #222A;
   --ace-editor-bg: #00f3;
   --highlight-color: aqua;
 }
 [language="js"] {
   --primary-color: #F7DF1E;
   --banner-bg: #222A;
   --ace-editor-bg: #ff03;
   --highlight-color: aqua;
 }

 #buttons {
   float: right;
   display: flex;
   
 }

 button {
   color: var(--primary-color);
   background-color: black;
   font-size: inherit;
   font-family: inherit;
   margin: 0;
   line-height: inherit;
   padding-inline: 5px;
   border: none;
 }

 button:active {
   background: #666
 }

 .hidden {
   display: none;
 }

 .zindex {
   z-index: 10;
 }

 .ace_mobile-menu {
   display: none
 }

 .compress {
   width: 300px;
   font-size: 0;
 }

 b {
   color: var(--highlight-color)
 }

 .editor-files {
   position: relative;
   height: 100%;
   width: 100%;
 }

 .ace_scroller,
 .ace_gutter {
   background: linear-gradient(#000, var(--ace-editor-bg));
 }

 .ace_scroller::before {
   position: absolute;
   box-shadow: 2px 2px 5px rgba(255, 0, 255, 0.5);
   outline: 21px solid green;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   opacity: 0.5;

   content: "";
   background-size: 10%;
   background-repeat: no-repeat;
   background-position: 95% 10px;
 }

 [language='html'] .ace_scroller::before {
   background-image: url('img/_html.svg');
 }

 [language='css'] .ace_scroller::before {
   background-image: url('img/_css.svg');
 }

 [language='js'] .ace_scroller::before {
   outline: 1px solid red;
   background-image: url('img/_js.svg');
 }

 .ace_content {
   background-size: cover;
   //backdrop-filter: saturate(110%);
 }


 @keyframes fadeOut {

   0%,
   90% {
     opacity: 0.25;
   }

   91%,
   100% {
     opacity: 1;
   }
 }

 /*.ace_scroller::before {
   animation: fadeOut 5s infinite;
   }*/
 .ace_active-line {
   background-color: rgba(100, 100, 100, 0.3) !important
 }

 .editor-container {
   width: 100%;
   height: 100%;
   position: relative;
 }

 .editor {
   font-size: 12px;
   font-family: Victor !important;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
 }

 .front .editor.good .ace_scroller,
 .front .editor.good .ace_gutter

 /*.textareas :nth-child(2) .ace_content*/
   {
   background-color: #112 !important;
 }

 #console {
   position: absolute;
   bottom: 0;
   right: 0;
   font-family: arial;
   font-size: 0.7rem;
   max-height: 40%;
   max-width: 100%;
   outline: 1px solid #fff;
   color: #fff;
   overflow: auto;
   word-wrap: break-word;
   white-space: pre-wrap;
   background-color: #0003;
   margin: 0;
 }

 .ace_tooltip,
 .ace_tooltip * {
   word-wrap: break-word;
   white-space: pre-wrap;
   font-size: .8em !important;
 }